/*
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
th, td {
    display: inline;
}

/*
 *
 Загаловок
 *
 */
#pageTitle {
  
  color:#569DC8;
  float: left;
  margin-right: 10px;

}

#requisitionStatusLabel {
  margin-right: 4px;
  float: left;
}

/*
 *
 Навигация вкладок
 *
 */
ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0;
padding-top:7px;
width: 200px;
float: left;
position: absolute;
left:400px;
}

ul.tabNavigation li {
display: inline;
}

ul.tabNavigation li a {
padding: 3px 9px;
color: #555;
text-decoration: none;
border-bottom: 2px solid #fff;
font-weight: bold;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
border-bottom: 2px solid #4d9ac6;

}

ul.tabNavigation li a:hover {
border-bottom: 2px solid #4d9ac6;
}

ul.tabNavigation li a:focus {
outline: 0;
}

/*
 *
 Кнопка сохранить
 *
 */
#saveRequisition {
  float: right;
  padding: 10px 10px;
  border:1px solid #ccc;
  font-size: 14px;
  border-radius: 1px;
  background-color: #d4cffc;
  cursor: pointer;
}

#saveRequisition:hover {
  background-color: #E3E0FF;
}

/*
 *
 Время создания заявки
 *
 */
#reqDateBlock {
  float: right;
  margin-right: 15px;

}

#reqDateBlock p {
  margin-bottom: 5px;
}

/*
 *
 Обертка содержимого вкладок
 *
 */ 
#tab-wrapper {
  margin-top:40px;
}



/*
 *
 Поля ввода (для автоподстановки)
 *
 */


.typeahead, .tt-query, .tt-hint {
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    height: 15px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
    
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
    max-height: 150px;
  overflow-y: auto;

  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


#customer-form label{
  width: 170px;
  float: left;
  margin-top: 3px;
  text-align: right;
  margin-right: 10px;
}


/*
 *
 Вкладка товары
 *
 */
#second {
  min-height: 600px;
}

/*
 *
 Поиск и добавление товара
 *
 */



#addProductBtn {
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 16px;

}

#addProductBtn img {
  width:15px;
  margin-left: 10px;
}


#addProductWindow {
  display: none;
  position: relative;
  height:800px;
  background-color: #f9f9f9;
  margin-top:20px;
  padding-top: 20px;
  border:1px solid #ccc;
}

.searchField {
    border: 2px solid #ccc;
    padding: 9px 12px;
    width: 200px;
    margin-left: 10px;
}

#searchPriorityWrapper {
  margin-left: 20px;
} 

#searchType {
    border: 2px solid #ccc;
    margin-left: -6px;
    padding: 8px 12px;
}

#searchBtn {
  background-color: #e3e3e3;
  border: 2px solid #ccc;
  height: 38px;
}

#searchBtn:hover {
  background-color: #D7D7D7;
}

#searchAnimation {
  float: right;
  margin-right: 385px;
  padding-top: 5px;
  width: 25px;
  display: none;
}

#searchAnimation img {
  width: 25px;
  height: 25px;
}

/*
 * Таблицы с результатами поиска
 *
 */


#resultTables {
  
  border-color: #eee;
  margin-top: 10px;
  height: 710px;
}


.sh-search-bl-clmn {
/*колонка с плюсиком*/
  width: 20px;
}

/*
 * Заголовок таблиц
 *
 */


#resultTables #headTable tr td{
    
}

#resultTables #headTable thead {
  background-color:#c3d9ff;
  
}


/*
 * Таблицы и врапперы
 *
 */

.searched_result_block {
  border: 1px solid #e0e0e0;
  margin:10px;
  
  padding-bottom: 35px;
  border-bottom: 2px solid #ccc;
}


.searched_result_block .sr_block_show_btn {
  margin-left: 5px;
  margin-right: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: red;
}

.searched_result_block .sr_block_show_btn:hover {

}

.searched_result_block .sr_block_title {
  font-size: 16px;
}


.searched_result_block_table-wrap {
  height: 100%;
  overflow-y:auto;
  
}

.searched_result_block table{
  margin-top: 14px;
  border-top:1px solid #ddd;
  display: block;
    
}

#results-blocks-wrapper {
  height: 650px;
  overflow: auto;
  
}


#results-blocks-wrapper td {
    border-bottom: 1px solid #cccccc;
}





.odd_tr {
  background-color: #EBE9E9;
}

.need_to_registr_tr {
  background-color: #FEE6CE;
}


.odd_need_to_registr_tr {
  background-color: #F9E1C9;
}

.changed_tr {
  background-color: #EBFECE;
}


.rt-td-in-name {
  width: 220px;
  border-right: 2px solid #d3d1d1;
}

.rt-td-in-origname {
  width: 220px;
}

.rt-td-chod {
  width: 200px;
}

.rt-td-product-num {
  width: 60px;
}

.rt-td-prov-name {
  width: 80px;
}
.rt_in_req_color {
  color:#333;
}

/*
 * Кнопки статуса заявки
 *
 */

#status-btns-wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
  height: 20px;

}
#status-btns-wrapper-left {
    float: left;
  
}

#status-btns-wrapper-right {
  
  float: right;
  
  
}

.status-btn {
  float:left;
  margin-right: 15px;
  padding: 10px;
  font-weight: bold;
  background: #eee;
  border:1px solid #ccc;
  border-radius: 2px;
  cursor:pointer;
}

.status-btn-active {
  background-color: #ddd;
}

#status-btn-add-confirm {
  display: none;
}

#status-btn-confirm {
  display: none;
}

#status-btn-cancel {
  display: none;
}

#status-btn-complite {
  display: none;
}

#status-btn-activate {
  display: none;
}

#status-btn-cancel-complite {
  float: left;
  display: none;
  cursor: pointer;
}

#status-btn-cancel-complite img {
  width: 7px;
}


/*
 * ДОбавленные в заявку
 *
 */


#productsInThisStatus {
  margin-top: 40px;
}

div#productsInThisStatus thead {
  background-color: #c3d9ff;
}

div#productsInThisStatus tbody tr:hover {
    background-color: #E2E0FF;
}

.deleteProduct {
  cursor: pointer;
  color: red;
}

.selectProduct {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.regProduct {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.count {
  width:30px;
}

.price-out {
  width:80px;
}

.deleteProduct {
  margin: 0;
}

img.deleteProduct  {
  width:20px;
}

#requisitionSum-wrapper {
  display: none;
  float: right;
  margin-top: 30px;
  width: 300px;
  border-top: 1px solid #ccc;
  display: block;
  padding-left: 10px;
  padding-top: 4px;
}

.requisitionSum-label {
  font-weight: bold;
  font-size: 14px;
  width: 100px;
  float: left;

}

.requisitionSum-val {
  font-weight: bold;
  font-size: 15px;
  
}

#requisitionSum-info {
  font-size: 12px;
  color: red;
}

/*
 *
 *Окошко информации о товаре
 */
#productInfoWindow {
    border: 1px solid #888;
    border-radius: 3px;
    display: none;
    height: 600px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -300px;
    margin-left: -350px;
    width: 700px;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#productInfoWindow #piw_windowHead {
  width: 100%;
  height: 35px;
 
  cursor: move;
}

#productInfoWindow #closeProdInfoWindow {
  float:right;
  margin-top: 10px;
  margin-right: 20px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#productInfoWindow #piw_infoColumn1 {
  width: 400px;
  float: left;
  height: 140px;
}

#productInfoWindow #piw_infoColumn2 {
  margin-left: 20px;
  width: 200px;
  height: 140px;
  float: right;
}

#productInfoWindow #sinonim-table {
  /*
  min-height: 200px;
  max-height: 300px;
  */
  
  overflow: auto;
}

#productInfoWindow #sinonim-table thead {
  background-color: #f4f4f4;
}

#productInfoWindow #sinonim-table {
  height: 150px;
}

#productInfoWindow #piw_addsinonim {
  cursor: pointer;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  float: right;
  margin-right: 5px;
}

#productInfoWindow #piw_addprovider {
  cursor: pointer;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  float: right;
  margin-right: 5px;
}


#productInfoWindow #sinonim-table {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#productInfoWindow #providers-table {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 200px;
}

#productInfoWindow #providers-table thead {
  background-color: #f4f4f4;
}

#productInfoWindow #sinonim-table tbody tr:hover  {
  background-color: #E2E0FF;
}

#productInfoWindow .st-name {
  width: 210px;
  
}

#productInfoWindow .st-chod {
  width: 210px;
  
}

#productInfoWindow #sinonim-table .deleteSin {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#productInfoWindow .piw_provNameTd {
  width: 200px;
}

#productInfoWindow .piw_provPriceTd {
  width: 86px;
}

#productInfoWindow .piw_provDateTd {
  width: 106px;
}

#productInfoWindow .piw_provDefaultTd {
  width: 123px;
}

#productInfoWindow .piw_provDeleteTd {
  width: 110px;
}



#productInfoWindow #piw_providersSelect {
  width: 200px;
}

#productInfoWindow #piw_newprice {
  width: 80px;
}

#productInfoWindow #piw_newdate {
  width: 100px;
}

#productInfoWindow  .deleteProv {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


/*
 *
 *Окошко регистрации товара
 */

#productRegWindow {
  width: 720px;
  height: 850px;
  position: fixed;
  top:50%;
  left:50%;
  margin-top: -425px;
  margin-left: -360px;
  border: 1px solid #888;
  background-color: #fcfbff;
  display: none;
  border-radius: 3px;
} 

#prw_windowHead {
  width: 100%;
  height: 35px;
  background-color: #F4F4F4;
  cursor: move;
}

#productRegWindow #closeProductRegWindow
{
  float:right;
  margin-top: 10px;
  margin-right: 20px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#prw_inputWrapper {
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  margin: 10px;
  padding: 10px;
}

#prw_TabsWrapper{
  padding: 20px;

}

#prw_inputRequestInfoLine {
  height: 80px;
  width: 100%;
}

.prw_input-box 
{
  float: left;
  margin-right: 20px;
}

.prw_comment-input-box {
  width: 100%;
  
}

.prw_comment-input-box textarea {
  width: 650px;
  height: 70px;
  margin-bottom: 10px;
}

.prw_input-label
{
  
}

.prw_input
{
  float: left;
}

#prw_pr-name {
  width: 243px;
}

#prw_pr-chod {
  width: 200px;
}

#prw_pr-weight {
  margin-right: 100px;
}

ul.prw_tabNavigation {
  list-style: none;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 0;
}

ul.prw_tabNavigation li {
  float: left;
  margin-right: 5px;
}

ul.prw_tabNavigation li a{
  text-decoration: none;
  padding: 2px 15px;
  background-color: #eee;
  border-radius: 1px solid #bbb;
}

ul.prw_tabNavigation li a.selected {
  background-color: #ccc;
}



.prw_productInfoRaw {
  width: 800px;
  height: 40px;
}

#prw_providers-table  {
  height: 180px;
  overflow-y:auto;
}

#prw_providers-table table thead {
  background-color: #E6E6E6;
}

#prw_providers-table table thead td {
  padding: 10px 5px;
}

#prw_providers-table table tbody tr:hover {
  background-color: #F1F5FC;
}

#prw_providers-table tr#prw_newProviderTr:hover {
  background-color: transparent;
}

#prw_providers-table #prw_newProviderTr td 
{
  border-top: 30px solid transparent;
}

#prw_providersSelect {
  width: 180px;

}

#prw_newProviderPriceIn {
  width: 100px;
}

#prw_newProviderPriceDate {
  width: 100px;
}

#prw_addProvider {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.prw_providerDelete {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

#prw_saveNewProductBtn {
  background-color: #f2f1f1;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
  
    padding: 10px;
    text-align: center;
    width: 70px;
    position: absolute;
    bottom: 10px;
}

/* вкладка привязки к существующему товару в окне регистрации */

#prw_searchName {
  float: left;
  margin-right: 10px;

}

#prw_searchChod  {
  float: left;
  margin-right: 10px;


}

#prw_searchBtn {
  background-color: #f2f1f1;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 8px;
  
  float: left;
  text-align: center;
  padding: 2px 10px;
}

#prw_searchAnimation {
  float: right;
  margin-right: 270px;
  padding-top: 1px;
  width: 15px;
  display: none;
}

#prw_searchAnimation img {
  width: 15px;
  height: 15px;
}

#prw_searchRaw {
  width: 100%;
  height: 30px;
  margin-top: 30px;

}

#prw_searchTypeRaw {
  width: 100%;
  height: 30px;
}

#prw_searchHeadTable{
  margin-top:20px;
  background-color: #c3d9ff;
}

#prw_results-blocks-wrapper {
  height: 300px;
  overflow-y: auto;
}

.prw_searched_result_block {
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
  padding-bottom: 35px;
  border-bottom: 2px solid #ccc;
}

.prw_searched_result_block_table-wrap {
  height: 100%;
  overflow-y:auto;
}

.prw_selectProduct {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.prw_selectedProductInfo {
  height: 16px;
}

.prw_rt-td-in-origname {
  width: 150px;
}

#prw_addToProductBtn {
  background-color: #f2f1f1;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 70px;
}