.customers_title {
	background-color: #d9edf7;
	padding: 10px;
	color: #555;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0px;
}

.customers_list {
	background-color: #fff;
}

.customers_list-top {
	padding-top: 15px;	
	background-color: #fff;
}

.customers_list-top__fixed {
	position: fixed;
	top: 0;
	width: 1240px;
	left: 50%;
	margin-left: -617px;
	z-index: 1;
}

.customers_filters {
	margin-bottom: 20px;
}

.customers_filters-name {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	border-radius: 3px;
	font-size: 12px;
	padding: 0px 10px;
	line-height: 30px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.customers_newBtn {
	padding: 0px 18px;
	line-height: 30px;
	display: inline-block;
	vertical-align: top;
	margin-left: 19px;
}

.customers_showStatusEditBtn {
	margin-left: 10px;
}

.customers_filters-name:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.customers_list-head {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
	background-image: linear-gradient(to bottom, #fffdfd 0%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	background-repeat: repeat-x;
	background-color: #f5f5f5;
	border:1px solid #ddd;
	padding: 0px 10px;
	line-height: 40px;
}

.customers_list-head-item {
	color: #555 !important;
	font-size: 13px !important;
	font-weight: bold !important;
	cursor: default;
}

.customers_list-head-item:hover {
	text-decoration: underline;
}

.customers_list-body {
	/*height: 500px;
	overflow-y: scroll;*/
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.customers_list-body__fixed {
	margin-top: 112px;
}

.customers_list-row {
	padding: 0px 10px;
	line-height: 28px;
}

.customers_list-row:hover{
	background-color:rgb(243, 243, 243);
}

.customers_list-row_even {
	background-color: rgb(252, 252, 252);
}

.customers_list-row_selected {
	background-color: rgb(230, 235, 236)!important;
}

.customer_list-name {
	display: inline-block;
	vertical-align: top;
	width: 500px;
	padding:0 5px;	
	border-right: 1px solid #f8f6f6;
	height: 28px;
}

.customer_list-name-val {
	cursor: pointer;	
}

.customer_list-name-val:hover {
	text-decoration: underline;
}

.customer_list-status {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	padding: 0 20px;
    font-weight: bold;
    font-size: 13px;
    border-right: 1px solid #f8f6f6;
    height: 28px;

}

.customer_list-reqCount {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	padding: 0 20px;
	border-right: 1px solid #f8f6f6;
    height: 28px;
}

.customer_list-showFullInfo {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.customer_list-delete {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.customer_list-delete-img {
	width: 15px;
	cursor: pointer;
	margin-top: 6px;
	opacity: 0.1;
	transition:opacity 0.2s;
}

.customers_list-row:hover .customer_list-delete-img {
	opacity: 0.4;
	
}

.customer_list-delete-img:hover {
	opacity: 1!important;	
}


.statusesEdit {
	position: absolute;
	width: 400px;
	padding-bottom: 10px;
	background: #fff;
	top: 81px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #e6e6e6;
	z-index: 11;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 228, 228, 0.6);
	
}

.statusesEdit_list {
	height: 400px;
	width: 100%;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 10px;
	overflow-y: scroll;
	background-color: #fcfafa;
}

.statusesEdit_list-row {
	line-height: 35px;
	height: 35px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
}

.statusesEdit_list-row:hover{
	background-color: rgb(245, 243, 243);
}

.statusesEdit_list-row__even {
	background-color: rgb(249, 249, 249);
}

.statusesEdit_list-name {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	padding: 0 10px;
}

.statusesEdit_list-name-val {

}

.statusesEdit_list-name .editable-input {
	background-color: transparent !important;
	border: medium none !important;
	outline: medium none !important;
	box-shadow: none !important;
	padding: 0px;
	border-bottom: 1px solid rgb(243, 240, 240) !important;
	border-radius: 0px !important;
	height: 28px !important;
}

.statusesEdit_list-name .editable-buttons {
	margin-top: 4px;
}

.statusesEdit_list-name .btn {
	padding: 4px 9px !important;
}

.statusesEdit_list-delete {
	display: inline-block;
	vertical-align: top;
	float: right;
	padding: 0 10px;
}

.statusesEdit_list-delete-img {
	width: 11px;
	margin-top: 6px;
	cursor: pointer;
	opacity: 0.2;
}

.statusesEdit_list-delete-img:hover {
	opacity: 1;
}

.statusesEdit_btns {

}

.statusesEdit_closeBtn {
	margin-left: 15px;
}

.statusesEdit_addStatusBtn {
	float: right;
	margin-right: 15px;
}