.allproducts_title {
  background-color: #d9edf7;
  padding: 10px;
  color: #555;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0px;
}

.coincidentInputRequsets {
  color: #882a2a;
  font-size: 11px;
  font-style: italic;
  margin-left: 10px;
}

.showProductInfoWin {
  width: 20px;
  cursor: pointer;
  float: right;
}

.hideProduct {
  width: 11px;
  cursor: pointer;
  float: right;
}

.deleteProduct {
  width: 8px;
  cursor: pointer;
  float: right;
}

.allproducts-search {
  margin-top: 0px;
  margin-bottom: 20px;
}

.allproducts_exportCatalog {
  margin-top: 18px;
}

.allproducts_searchLabel {
  display: block;
  font-weight: bold;
}

.allproducts_searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.allproducts_searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.allproducts_searchClear {
  width: 15px;
  cursor: pointer;
}

.allproducts-table {
  border: 1px solid rgb(204, 204, 204);
}

.allproducts-table thead {
  height: 40px;
}

.allproducts-table_hidden-row {
  opacity: 0.2;
}

.allproducts-table_active-row {
  background-color: #c2c2c2 !important;
}

.showNewProduct {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.showNewProduct_img {
  width: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newProduct_wrap {
  background-color: #fefefe;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 17px 20px;
}

.newProduct_line {
  margin-bottom: 8px;
}

.newProduct_label {
  display: inline-block;
  width: 110px;
}

.newProduct_value {
  display: inline-block;
  width: 80px;
}

.newProduct_value__error {
  border-color: red;
}

.newProduct_value__big {
  width: 350px;
}

.newProduct_allproviders {
  display: inline-block;
  width: 120px;
}

.newProduct_provider-price {
  display: inline-block;
  width: 120px;
}

.newProduct_provider-deltime {
  display: inline-block;
  width: 120px;
}

.newProduct_addBtn {
  
  margin-top: 10px;
}