.allrequisitions_title {
	background-color: #d9edf7;
	padding: 10px;
	color: #555;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px;
}

.requisitionsList {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin-bottom: 30px;
}

.requisitionsList_head {
  color: #333;
  border: 1px solid #EEE;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-weight: 700;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #fffdfd 0%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #f5f5f5;
}

.requisitionsList_head-title {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #333;
}

.requisitionsList_head-count {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #333;
}

.requisitionsList_body {
  border: 1px solid #eee;
  padding: 15px;
  padding-top: 0;
  box-sizing: border-box;
}

.requisitionsList_table {
  width: 100%;
}

.requisitionsList_table-head {

}

.requisitionsList_table-body {

}

.requisitionsList_table-tr {
  border-bottom: 1px solid #eee;
}

.requisitionsList_table-tr:nth-child(2n+1) {
  background: rgb(252, 252, 252); 
}

.requisitionsList_table-tr_head {
  background-color: #fff !important;
}

.requisitionsList_table-th {
  padding: 10px 10px;
}

.requisitionsList_table-th_num {
  padding-right: 0;
}

.requisitionsList_table-td {
  padding: 10px 10px;
}

.requisitionsList_table-num {
  display: inline-block;
  position: relative;
}

.requisitionsList_table-num_new {
  font-weight: 700;
}

.requisitionsList_table-num_new:after {
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
  background-color: #e46e6e;
  color: #fff;
  font-size: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-top: 2px;
}


.requisitionsList_table-delete {
  width: 15px;
  height: 15px;
  background-image: url('/images/delete1.png');
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
}

.requisitionsList_table-delete:hover {
  opacity: 1;
}