.catalog-menu {
    margin-top: -3px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
}

.catalog-menu_item {
   display: inline-block;
   vertical-align: top; 
}

.catalog-menu_item-link {
    display: inline-block;
    vertical-align: top;
    padding: 13px 23px; 
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.catalog-menu_item-link:hover {
    background-color: #eee;
    text-decoration: none;
}

.catalog-menu_item-link__active {
    background-color: #eee;
    border-color: #ccc;
}


.groups-title {
    background-color: #d9edf7;
    padding: 10px;
    color: #555;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.groups-prod_title {
  background-color: #d9edf7;
  padding: 10px;
  color: #555;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0px;
}
.showProductInfoWin {
  width: 20px;
  cursor: pointer;
  float: right;
}

.groups {
    position: relative;
}

.groups-prod-search {
  margin-top: 0px;
  margin-bottom: 20px;
}
.groups-prod_searchLabel {
  display: block;
  font-weight: bold;
}

.groups-prod_searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.groups-prod_searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.groups-prod_searchClear {
  width: 15px;
  cursor: pointer;
}

.groups-prod-table {
  border: 1px solid rgb(204, 204, 204);
}

.groups-prod-table thead {
  height: 40px;
}

.groups-prod-table tr:hover {
    background-color: #f1f0f0;
}

.groups-prod-table_hidden-row {
  opacity: 0.2;
}

.groups-prod-table_active-row {
  background-color: #c7d9ff !important;
}

.groups-prod_select {
    margin-left: 10px;
    padding: 5px 12px;
    font-size: 12px;;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.groups-prod-table_edit {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.groups-prod_loading {
    width: 30px;
    margin-top: 19px;
}

.groups-prod_bottom-loading {
    position: relative;
}

.groups-prod_bottom-loading-img {
    width: 30px;
    position: absolute;
    right: 6px;
    top: -48px;
}

.gp-editor {
    position: absolute;
    top:0;
    left: 50%;
    margin-left: 60px; 
}

.gp-editor_inner {
    position: absolute;
    top:0;    
    width: 330px;   
    background-color: #fff;
    border:1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 4px 4px 8px -2px rgba(214,214,214,1);
}

.gp-editor_close {
    position: absolute;
    top:5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-image: url(../images/close-thin.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.gp-editor_close:hover {
    opacity: 0.8;
}

.gp-editor_product-name {
    margin-top: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

.gp-editor_items {
    height: 290px;
    overflow-y: scroll;
}

.gp-editor_item {
    display: block;
    cursor: pointer;
}

.gp-editor_item:hover {
    background-color: #fbfbfb;
}

.gp-editor_item-check {
    display: inline-block;
    vertical-align: top;
}

.gp-editor_item-name {
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
    font-weight: 400;
}

.gp-editor_item-process {
    display: inline-block;
    vertical-align: top;
    width: 15px;
    margin-left: 10px;
}

.import-line {
    margin-bottom: 40px;
    position: relative;
}

.import-line_file-name {
    display: inline-block;
    color: #444;
    padding-left: 10px;
    padding-right: 10px;
}

.import-line_loading {
    width: 20px;
}

.import-line_loadfile-btn {
    display: inline-block;
    margin-top: -1px;
    width: 120px;
    margin-left: 10px;
}

.result-types_wrap {

}

.result-types_table {
    border: 1px solid rgb(204, 204, 204);
}

.result-types_head-tr {
    background-color: rgb(217, 237, 247);
    text-transform: uppercase;
    font-size: 16px;
}

.result-types_body-tr:hover{
    background-color: rgb(234, 243, 248) !important;
}

.result-types_td-name {
    width: 200px;
    padding-left: 15px !important;
}

.result-types_td-name__head {
    padding-left: 8px !important;
}

.result-types_td-count {
    width: 70px;
    text-align: center;
}

.result-types_td-show {
    width: 70px;
}

.result-types_show {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.reslut-box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4A4848;
    opacity: 0.95;
    z-index: 0;
}

.reslut-box_head {
    position: absolute;
    top: 0;
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    z-index: 2;
    height: 30px;
    overflow: hidden;    
}

.result-box_title {
    color: #fff;
    font-weight: normal;
    font-size: 16px;    
}

.result-box_close {
    position: absolute;
    top: 5px;
    right: 0;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box_content {
    position: absolute;
    top: 30px;
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 60px;
}

.result-box-table {
    background-color: #fff;
    border: 2px solid #e0cdcd;
    margin-bottom: 100px;
}

.reslut-box_bottom {
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    height: 60px;
    bottom: 0;
    z-index: 2;
    position: absolute;
    padding-top: 10px;
    background-color: #515151;
}

.reslut-box_bottom-ch-all {
    float: right;
    text-decoration: underline;
    color: #eee;
    cursor: pointer;

}

.reslut-box_bottom-unch-all {
    float: right;
    text-decoration: underline;
    color:#eee;
    cursor: pointer;
    margin-right: 10px;
}



.reslut-box_add-label {
    font-weight: bold;
    color: green;
}

.reslut-box_add-label-img {
    width: 18px;
}

.reslut-box_selectProduct {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box_showProductInfo {
    width: 20px;
    cursor: pointer;
    float: right;
}

.reslut-box_removelabel {
    color: #C6A0A0;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box_removelabel:hover {
    color: red;
}

.reslut-box_findProd {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box_findProd__added {
    color: #51ac07;
}


.cats-table {
    margin-bottom: 20px;
}

.cats-table_head {

}

.cats-table_body {
    border-top: 1px solid #ccc;
}

.cats-table_row {
    border: 1px solid #ccc;
    border-top:none;
}

.cat-table_catagoryName {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 10px;
}

.cat-table_catagoryName-val {
    font-size: 17px;
}

.cat-table_catagoryName-products {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin-top:10px; 

}

.cat-table_groups {
    display: inline-block;
    vertical-align: top;
    width: 912px;
    border-left: 1px solid #eee;
}

.cat-table_gr-list {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cat-table_gr-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 50px;
    height: 30px;

    background-color: #eee;
    border:1px solid #ccc;
    margin-right: 5px;

}

.cat-tablr_gr-num {
    width: 100%;
    line-height: 30px;
    text-align: center
}

.cat-tablr_gr-remove {
    position: absolute;
    top:2px;
    right: 2px;
    width: 7px;
    opacity: 0.6;
}

.cat-tablr_gr-remove:hover {
    opacity: 1;
}

.cat-table_gr-add {
    padding: 10px;
}

.cat-table_gr-add-list {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}

.cat-table_gr-add-btn {
    display: inline-block;
    vertical-align: top;
}

.exportCatalog {
    margin-left: 10px;
}

.waitBox {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(240,240,240,0.9);
}
.waitBox_text {
    font-family:  Arial, sans-serif;
    margin-top: 10%;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #444;
}

.waitBox_img {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.waitBox_close {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: 10%;
}

.liveSearch {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    width: 1176px;
    background-color: #fff;
    z-index: 11;
    left: 50%;
    margin-left: -588px;
    -webkit-box-shadow: 0px 0px 2px 3px rgb(165, 165, 165);
    -moz-box-shadow:0px 0px 2px 3px rgb(165, 165, 165);
    box-shadow: 0px 0px 2px 3px rgb(165, 165, 165);
}

.liveSearch-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #515151;
    opacity: 0.9;
    z-index: 9;
}

.liveSearch_close {
    position: absolute;
    top:3px;
    right: 3px;
    width: 15px;
    cursor: pointer;
}

.liveSearch_searchLabel {
  display: block;
  font-weight: bold;
}

.liveSearch_searchLabel__chod {
    margin-left: 18px;
}

.liveSearch_searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.liveSearch_searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.liveSearch_searchClear {
  width: 15px;
  cursor: pointer;
}

.liveSearch_providerInfo {
    margin-top: 27px;
}

.liveSearch_fileChodName {
    font-weight: bold;
}

.liveSearch_showPIW {
    width: 20px;
    cursor: pointer;
}

.liveSearch_selectProduct {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}