.customeredit {
	position: absolute;
	width: 980px;
	padding: 20px;
	background: #fff;
	top:10px;
	left: 50%;
	margin-left: -490px;
	border: 1px solid #e6e6e6;
	z-index: 11;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 228, 228, 0.6);
}

.customeredit-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.9);
	z-index: 10;
}

.customeredit_close {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	width: 26px;
}

.customeredit_head {
	margin-bottom: 30px;
	margin-left: 30px;
}

.customeredit_title {
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	font-weight: bold;	
	text-transform: uppercase;
}

.customeredit_status {
	display: inline-block;
	vertical-align: top;
	margin-left: 279px;
}

.customeredit_status-label {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	font-weight: 300;
	color: #C0BCBC;
	margin-top: 3px;
}

.customeredit_status-val {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	font-size: 12px;
	padding: 5px 10px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.customeredit_status-val:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.customeredit .control-label {
	line-height: 15px;
	font-size: 13px;
	padding-top: 0px;
}

.customeredit_btns {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 10px;
}

.customeredit_saveBtn {
	margin-right: 10px;
}

.statusesEdit-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.5);
	z-index: 10;
}
