.container {
	padding-bottom: 55px;
}

.page-title {
	margin-left: 20px;
	color: rgb(57, 61, 80);
}

.navbar-nav_logout {
	float: right;
	color: rgb(255, 255, 255);
	line-height: 50px;
}

.to-top-page {
	position: fixed;
	bottom: 10px;
	right: 20px;
	background-color: RGBA(45, 44, 44, 0.75);
	border-radius: 4px;
	cursor: pointer;
	/*visibility: hidden;*/
	opacity: 0;
	transition:opacity linear 0.5s;
	-webkit-transition:opacity linear 0.5s;

}

.to-top-page__visible {
	/*visibility: visible;*/
	opacity: 1;

}

.to-top-page_img {
	width: 45px;
}

.app-loading {
	position: fixed;
	z-index: 99;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(236, 236, 236, 0.8);
}

.app-loading_img {
	position: absolute;
	top:40%;
	left: 50%;
	width: 50px;
	margin-left: -25px;
}