.navbar-custom {
  background-color: #0088cc;
  border-color: #0072ab;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aaff), to(#0088cc));
  background-image: -webkit-linear-gradient(top, #00aaff, 0%, #0088cc, 100%);
  background-image: -moz-linear-gradient(top, #00aaff 0%, #0088cc 100%);
  background-image: linear-gradient(to bottom, #00aaff 0%, #0088cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aaff', endColorstr='#ff0088cc', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #0072ab;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #0072ab;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #0072ab;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0072ab), to(#0094de));
  background-image: -webkit-linear-gradient(top, #0072ab, 0%, #0094de, 100%);
  background-image: -moz-linear-gradient(top, #0072ab 0%, #0094de 100%);
  background-image: linear-gradient(to bottom, #0072ab 0%, #0094de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0072ab', endColorstr='#ff0094de', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #0070a8;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #0072ab;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #0072ab;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}



.spacer-15 {
    margin-top: 15px; /* define margin as you see fit */
}

#alert_placeholder {
  position: fixed;
  bottom: 10px;
  width:500px;
  margin-top: 10px;
  margin-bottom: 5px;
  z-index: 10;
}

#customer-form label{
  width: 170px;
  float: left;
  margin-top: 3px;
  text-align: right;
  margin-right: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#searchForm {
	margin-bottom: 30px;
}

/*#currentInput_value {
  width: 700px;
}
*/
#currentInput_dropdown {
  width: 700px;
  margin-top: 30px;
}

#currentManyInput {
  resize:vertical;
  border-radius: 4px 0 0 4px;
}

#showSearchList img{
  width: 30px;
  /*background-image: url(/images/list2.png);*/
}

.requisition-title-row {
  margin-bottom: 30px;
}

.requisition-title {
  font-size: 20px;
  color: rgb(21, 125, 143);  
  margin-left: 30px;
}

.requisition-title_fromcatalog {
  font-size: 17px;
  margin-right: 30px;
}

.customer-panel-heading {
  cursor: pointer;
}

.customer-panel-heading:hover .customer-panel-title {
  color: #444;  
}

.customer-panel-heading:hover .customer-panel-title {
  text-decoration: underline;

}

.customer-panel-heading .customer-panel-title-name
{
  color: #111;
}

.customer-panel-title {
  display: inline-block;
  margin-right: 20px;
}

.customer-panel-downimg {
  width: 20px;
  float: right;
}

.customer-panel-body {
  background-color: #f8f8f8;
}

.customer-search-line {
  margin-top: 15px;
}
.customer-search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 600px;
  height: 40px;
}

.customer-search_inp {
   width: 100%;
}


.customer-search-list {
  background-color: #f8f8f8;
  border: 1px solid #eee;  
  left: 0;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 34px;
  width: 100%;
  z-index: 4;
}

.customer-search-list_item {
  line-height: 30px;
  font-size: 14px;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.customer-search-list_item:hover {
  background-color: rgb(254, 250, 250);
}

.customer-newCustBtn {
  margin-left: 30px;
}

.customer-current-line{
  margin-top: 10px;
}

.customer-current {
  background-color: #fcfcfc;
  
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  display: inline-block;
  cursor: default;
  transition:all linear 0.1s;
}

.customer-current__select:hover {
  background-color: #f3f3f3;
  border: 1px solid #fff;
}

.customer-current_name {
  font-size: 15px;
  font-size: 15px;
  color: #474747;
  font-weight: 700;

}

.customer-unlink {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  opacity: 0.2;
  cursor: default;
  transition:opacity linear 0.1;
}

.customer-unlink:hover {
  opacity: 1;
}


/*
 *  Элементы над списком позиций
 */

.infoLine {
  margin-bottom: 10px;
}

.positionsListBtns {
  display: inline-block;
  margin-right: 10px;
}

.searchFromFileBtn {
  float: right;
}

.download-excel {
  display: inline-block;
  margin-right: 10px;
}

.set-prov-coef {
  display: inline-block;
  margin-right: 20px;
}

.set-prov-coef_prov {
  display: inline;
  width: 93px;
  padding: 0;
  border-right:none;
  border-radius: 4px 0px 0px 4px;
  margin-right: -4px;
}

.set-prov-coef_coef {
  display: inline;
  width: 65px;
  border-radius: 0px;
  margin-right: -4px;
  border-left-width: 0px;
}

.set-prov-coef_btn {
  margin-top: -2px;
  border-radius: 0px 4px 4px 0px;
  border-left: medium none;
}

.requisitionTotals {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 5px;
}

.requisitionTotalPriceIn {
  display: inline-block;
  font-weight: bold;
  color: #777;
}

.requisitionTotalPriceIn_price {
   color: rgb(3, 53, 119);
}

.requisitionTotalPriceOut {
  display: inline-block;
  font-weight: bold;
  margin-right: 20px;
  color: #777;
}

.requisitionTotalPriceOut_price {
  color: rgb(3, 53, 119);
}

.requisitionTotalPriceSub {
  display: inline-block;
  font-weight: bold;
  color: #777;
}

.requisitionTotalPriceSub_price {
  color: rgb(5, 104, 9);
}

.requisitionTotalWeight {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  color: #777;
  font-size: 13px;
}

.requisitionTotalWeight_weight{
  color: rgb(80, 80, 80);
}

.requisitionTotalSize {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  color: #777;
  font-size: 13px;
}

.requisitionTotalSize_size{
  color: rgb(80, 80, 80);
}

/*
 * СПИСОК ТОВАРОВ В ЗАЯВКЕ
 *
 */

/*#positionsTable {
  width: 100%;
}

#positionsTable thead {
  width: 1240px;
  position: fixed;
  top: 0px;
  z-index: 2;

  background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

#positionsTable th {
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
}

#positionsTable tr:hover{
  background-color: rgb(249, 247, 247);
}


.positionsTable_th-nonPadding  {
  padding: 0;
}
*/

.positionsTable {
  border: 1px solid #ccc;
  border-top:none;
}

.positionsTable_row {
  border-bottom: 1px solid #ccc;
  position: relative;
  min-height: 50px;
  transition:background-color ease-out 0.2s;
  -webkit-transition:background-color ease-out 0.2s;
}

.positionsTable_row:hover{
  background-color: #f7f7f7;
}



.positionsTable_row__active {
  background-color: #edecec;
}

/*.positionsTable_row__active:hover {
  background-color: #f8f799;
}*/

/*.positionsTable_row__active input{
  background-color: rgb(253, 255, 225);
}*/

.positionsTable_row__openSearch {
  background-color: #f9f9e9;
}

.positionsTable_row__openSearch:hover {
  background-color: #f9f9e9;
}

.positionsTable_num {
  position: absolute;
  width: 30px;  
  border-right: 1px solid #ccc;
  height: 100%;  
  left: 0;
  top: 0;
  padding: 5px;
  
  
}

.positionsTable_num-val {
  border-bottom:none !important;
  color: #333 !important;
  cursor: pointer;
}

.positionsTable_num-val:hover {
  border-bottom: dashed 1px #428bca !important;
}

.positionsTable_num .editable-wrap{
  position: absolute;
  background-color: #dadada;
  z-index: 1;
  padding: 3px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  top: 4px;
  left: 3px;

}

.positionsTable_photo {
  position: absolute;
  top:0;
  left: 29px;
  width: 40px;
  height: 100%;
  border-right: 1px solid #ccc;
}

.positionsTable_photo-img {
  width: 36px;
  margin-top: 2px;
  margin-left: 2px;
}


.positionsTable_input {
  position: absolute;
  width: 191px;
  font-size: 11px;
  border-right: 1px solid #ccc;
  height: 100%;  
  left: 69px;
  top: 0;
  overflow: hidden;
  padding: 5px;
}

.positions-table_info {
  height: auto;
  width: 969px;
  top: 0;
  margin-left: 265px;
  padding:4px 0;
}

.positionsTableHead {
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #f5f5f5;
  width: 1240px;
  margin: 0 auto;
  /*position: fixed;*/
  top:0;
  z-index: 2;
}

.positionsTableHead__fixed {
  position: fixed;
}

.positionsTable_header {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 14px 5px;
  font-size: 13px;
}

.positionsTable_header:hover {
  color: blue;
}

.positionsTable_header__selected {
  color: blue;
}

.positionsTable_header-id {
  border-right: 1px solid #eee;
  width: 30px;
}

.positionsTable_header-photo {
  border-right: 1px solid #DDD;
  width: 36px;
  padding: 0;
  height: 46px;
}

.positionsTable_header-input {
  border-right: 1px solid #DDD;
  width: 186px;
}

.positionsTable_header-oroginalName {
  display: inline-block;
  vertical-align: top;
  width: 211px;
  border-right: 1px solid #DDD;
}

.positionsTable_header-count {
  display: inline-block;
  vertical-align: top;
  width: 71px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-priceChtz {
  display: inline-block;
  vertical-align: top;
  width: 95px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-provider {
  display: inline-block;
  vertical-align: top;
  width: 85px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-totalPriceIn {
  display: inline-block;
  vertical-align: top;
  width: 93px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-coef {
  display: inline-block;
  vertical-align: top;
  width: 61px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-priceOut {
  display: inline-block;
  vertical-align: top;
  width: 99px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-totalPriceOut {
  display: inline-block;
  vertical-align: top;
  width: 99px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-weight {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  border-right:  1px solid #DDD;
}

.positionsTable_header-size {
  display: inline-block;
  vertical-align: top;
  width: 48px;
}


.productsInPositionList {
	background-color: #f2f2f2;
}

.productsInPositionList .table{
	background-color: transparent;
}

.productInPositionRow {
  margin-bottom: 10px;
}

.position_original-info {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}

.position_menu {
  display: inline-block;
  vertical-align: top;
  width: 60px;
}

.productNotSelectLabel {
  color: #690202;
}

.position_price-block {
  position: relative;
  display: inline-block;
}

.position_count {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  text-align: right;
  width: 43px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: unset;
  font-size: 13px;
  margin-left: 8px;
}

.position_count_label {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
}

.position_priceChtz {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  text-align: right;
  width: 92px;
  font-size: 13px;
}

.position_notPriceChtz {
  padding-right: 24px;
}

.position_provider-wrap {
  display: inline-block; 
  vertical-align: middle;
  width: 100px;
  font-size: 13px;
}

.position_provider {
  color: rgb(4, 39, 101);
  margin-left: 4px;
  margin-right: 4px;
  font-size: 13px;  
  font-weight: 600;
}

.position_provider__hasMany {

  text-decoration: none;
  cursor: pointer;
}

.position_provider__hasMany:hover {
  text-decoration: underline;
}

.position_provider__hasMany:after{
  content: "▼";
  color: #ccc;
}

.position_provider__notInPrice {
  color: #FFFFFF;
  background-color: #FD8989;
  border-radius: 2px;
  padding-left: 5px;
}

.position_providers-list {
  position: absolute;
  z-index: 2;
  font-size: 13px;
  width: 300px;
  margin-left: 174px;
  display: block;
  height: auto;
  top: 16px;
  left: -74px;
}

.position_providers-list-it {
  cursor: default;
}

.position_providers-list-it:hover {
  background-color: #eee;
}

.position_providers-list-it__not {
  color: #B11B1B;
}

.position_provider-price
{
  font-size: 12px;
  padding-left: 7px;
}

.position_total-price-in {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  width: 85px;
  font-size: 13px;
}

.position_price-coef {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  padding: 6px 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: unset;
  font-size: 13px;
  margin-right: 5px;
}

.position_price-coef__war {
  background-color: rgba(254, 51, 51, 0.39);
}

.position_price-coef__war:focus{
  border: 1px solid rgb(255, 255, 255) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 100, 100, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 100, 100, 0.6) !important;
}

.position_price-out {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  padding: 6px 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: unset;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: right;
  margin-right: -4px;
  font-size: 13px;
}


.position_totalPrice-out {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  padding: 6px 5px;
  
  box-shadow: unset;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: right;
  margin-right: -4px;
  font-size: 13px;
}

.position_totalPrice-outsum {
  display: inline-block;
  vertical-align: middle;
  width: 92px;
  padding: 6px 5px;
  
  box-shadow: unset;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-align: right;
  margin-right: -4px;
  font-size: 13px;
}
.position_price-out-label {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  font-size: 13px;
}

.position_total-weight {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 5px;
  width: 60px;
  text-align: right;
}

.position_total-size {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  text-align: right;
  width: 10px;
}

.deletePosition {
  width: 10px;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-top: 4px;
}

.showQuestionForPosition {
  width: 20px;
  cursor: pointer;
  float: right;
}

.positionsTable_pos-questio-status {
  display: block;
  margin-left: -4px;
  width: 20px;
  margin-top: 5px;
}

.unbindProductFromPosition {
  cursor: pointer;
  opacity: 0.6;
  width: 11px;
  visibility: hidden;
}

.position_original-info:hover .unbindProductFromPosition{
  visibility: visible;
}


/*
 * СПИСОК ТОВАРОВ В ЗАЯВКЕ - МГНОВЕННЫЙ ПОИСК
 *
 */

.liveProductSearch .l-wrap {
	border-top:1px solid #ccc;
}

.l-table-wr {
  margin-top: 15px;
}

.showLiveProductSearch {
  width: 20px;
  cursor: pointer;
  float: right;
}

.showProductInfoWin {
  width: 20px;
  cursor: pointer;
}

.liveSearch_searchLabel {
  display: block;
  font-weight: bold;
}

.liveSearch_searchLabel__chod {
  margin-left: 18px;
}

.liveSearch_searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.liveSearch_searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.liveSearch_searchClear {
  width: 15px;
  cursor: pointer;
}

.liveSearch_table {
  background-color: #fff;
}

.liveSearch_tableHead {
  background-color: #cfcfcf;
  color: #fff;
  font-size: 17px;
}



.selectProductForPostion {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.coincidentInputRequsets {
  color: #882a2a;
  font-size: 11px;
  font-style: italic;
  margin-left: 10px;
}

/*
 * Вопрос по позиции
 *
 */

.questionForPosition {
  /*display: none;*/
}

.questionForPosition_control-line {
  text-align: right;
}

.questionForPosition_to-comment-btn {
  float: left;
}

.questionForPosition_text {

}

.questionForPosition_status {
  
}

.questionForPosition_status-label {
  
}

.questionForPosition_save-btn {
  
}

.progress-box {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #222;
    opacity: 0.8;
}

.progress-box_text {
    margin-top: 22%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.progress-box_finish {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #9fabff;
    margin-top: 31px;
}

.progress-box_finish-text {
    margin-bottom: 20px;
}

