.stock-title {
    background-color: #d9edf7;
    padding: 10px;
    color: #555;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.stocks-table-wrap {

}

.stocks-table_head {
    font-weight: bold;
    border-bottom: 3px solid #ccc;
}

.stocks-table_td-name {
    width: 300px;
   padding-left: 22px !important;
}

.stocks-table_td-date {
    width: 834px;
}

.stocks-table_td-clear {
    width: 100px;
  
} 
.stocks-table_td-delete {
    width: 100px;


}

.stocks-table_edit {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.stocks-table_new {
    color: blue;
    cursor: pointer;
    padding-left: 3px;
    margin-bottom: 30px;
    display: inline-block;
}

.stocks-table_clear {
    color: #BA6D08;
    cursor: pointer;
    text-decoration: underline;
    cursor: pointer;
    float: right;
}

.stocks-table_delete {
    color: #D10C0C;
    cursor: pointer;
    text-decoration: underline;
    cursor: pointer;
    float: right;
}


.stocks-table_new-img {
    width: 15px;
}


.import-line {
    margin-bottom: 40px;
    position: relative;
}

.import-line_price-type {
    width: 160px;
    display: inline-block;
    line-height: 30px;
}


.import-line_file-name {
    display: inline-block;
    color: #444;
    margin-left: 30px;
}

.import-line_loading {
    width: 20px;
}

.import-line_import-date {
    width: 130px;
    padding-right: 5px;
    display: inline-block;
    text-align: right;
}

.import-line_import-date-label {
    width: 130px;
    display: inline-block;
}

.import-line_loadfile-btn {
    display: inline-block;
    margin-top: -1px;
    width: 120px;
}


.import-line_start-btn {
    display: none;
    margin-left: 15px;
}

.result-types_wrap {

}

.result-types_table {
    border: 1px solid rgb(204, 204, 204);
}

.result-types_head-tr {
    background-color: rgb(217, 237, 247);
    text-transform: uppercase;
    font-size: 16px;
}

.result-types_body-tr:hover{
    background-color: rgb(234, 243, 248) !important;
}

.result-types_td-name {
    width: 200px;
    padding-left: 15px !important;
}

.result-types_td-name__head {
    padding-left: 8px !important;
}

.result-types_td-count {
    width: 70px;
    text-align: center;
}

.result-types_td-show {
    width: 70px;
}

.result-types_show {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box {
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reslut-box_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4A4848;
    opacity: 0.95;
    z-index: 0;
}

.reslut-box_head {
    position: absolute;
    top: 0;
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    z-index: 2;
    height: 30px;
    overflow: hidden;    
}

.result-box_title {
    color: #fff;
    font-weight: normal;
    font-size: 16px;    
}

.result-box_close {
    position: absolute;
    top: 5px;
    right: 0;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.reslut-box_content {
    position: absolute;
    top: 30px;
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 60px;
}

.result-box-table {
    background-color: #fff;
    border: 2px solid #e0cdcd;
    margin-bottom: 100px;
}

.reslut-box_bottom {
    width: 1170px;
    margin-left: -585px;
    left: 50%;
    height: 60px;
    bottom: 0;
    z-index: 2;
    position: absolute;
    padding-top: 10px;
    background-color: #515151;
}

.reslut-box_bottom-ch-all {
    float: right;
    text-decoration: underline;
    color: #eee;
    cursor: pointer;

}

.reslut-box_bottom-unch-all {
    float: right;
    text-decoration: underline;
    color:#eee;
    cursor: pointer;
    margin-right: 10px;
}



.reslut-box_add-label {
    font-weight: bold;
    color: green;
}

.reslut-box_add-label-img {
    width: 18px;
}

.reslut-box_selectProduct {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}



.stock-template {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    background-color: #fcfcfc;
    margin-bottom: 30px;
}

.stock-template_title {
    font-weight: bold;
    font-size: 19px;
    color: #333;
    margin-bottom: 15px;
    margin-left: 15px;
}

.stock-template_line {
    margin-bottom: 10px;
}

.stock-template_label {
    display: inline-block;
    vertical-align: top;
    width: 217px;
    text-align: right;
    margin-right: 5px;
}

.stock-template_value {
    display: inline-block;
    vertical-align: top;
    width: 40px;
}

.stock-template_value__error {
    border-color: red;
}

.stock-template_value__long {
    width: 180px;
}

.stock-template_allproviders {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.stock-templatet_saveBtn {
    margin-left: 225px;
}

.progress-box {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;    
}

.progress-box_bg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    z-index: 0;
}

.progress-box_text {
    position: absolute;    
    width: 1170px;
    left: 50%;
    margin-left: -585px;
    top: 70px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.progress-box_finish {
    position: absolute;
    top: 134px;
    width: 1170px;
    left: 50%;
    margin-left: -585px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #9fabff;
    z-index: 1;
    bottom: 40px;
}

.progress-box_finish-text {
    margin-bottom: 20px;
}

.progress-box_errors-wrap {
    position: absolute;
    top: 85px;
    bottom: 20px;
    width: 100%;
    overflow-y: auto;
}

.progress-box_errors {
    text-align: left;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;

}

.progress-box_errors-title {
    color: rgb(255, 89, 89);
    font-size: 19px;
}

.progress-box_errors-text {
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 14px;
    padding-left: 10px;
}


.liveSearch {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    width: 1176px;
    background-color: #fff;
    z-index: 11;
    left: 50%;
    margin-left: -588px;
    -webkit-box-shadow: 0px 0px 2px 3px rgb(165, 165, 165);
    -moz-box-shadow:0px 0px 2px 3px rgb(165, 165, 165);
    box-shadow: 0px 0px 2px 3px rgb(165, 165, 165);
}

.liveSearch-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #515151;
    opacity: 0.9;
    z-index: 9;
}

.liveSearch_close {
    position: absolute;
    top:3px;
    right: 3px;
    width: 15px;
    cursor: pointer;
}

.liveSearch_searchLabel {
  display: block;
  font-weight: bold;
}

.liveSearch_searchLabel__chod {
    margin-left: 18px;
}

.liveSearch_searchInp {
  width: 90%;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.liveSearch_searchInp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.liveSearch_searchClear {
  width: 15px;
  cursor: pointer;
}

.liveSearch_providerInfo {
    margin-top: 27px;
}

.liveSearch_fileChodName {
    font-weight: bold;
}

.liveSearch_selectProduct {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.showProductInfoWin {
  width: 20px;
  cursor: pointer;
  float: right;
}

.allproducts-search {
  margin-top: 30px;
  margin-bottom: 20px;
}

.allproducts-table {
  border: 1px solid rgb(204, 204, 204);
}

.allproducts-table thead {
  height: 40px;
}
