<div id="productInfoWindow" ng-show="windowshow" ng-cloak>
	<div id="piw_windowHead">		 			
		<p id="closeProdInfoWindow" ng-click="closeProductsInfoWin()">Закрыть</p>
		<img class="piw_update" ng-click="reloadProductInfo()" src="/images/update.png" >
	</div>
					
	
	<div class="piw_productInfo-wrap">
		<div class="piw_productInfo-clm1">
			<div class="piw_mainInfo-line">
				<div class="piw_mainInfo-labels">
					<div class="piw_mainInfo-labels-i piw_mainInfo-labelss-i__border">Ориг. назв.</div>
					<div class="piw_mainInfo-labels-i">Ориг. ЧОД</div>
				</div>
				<div class="piw_mainInfo-vals">
					<div class="piw_mainInfo-vals-i piw_mainInfo-vals-i__border">
						<span  id="piw_original_name" editable-text="product.original_name" onaftersave="updateProductInfo()">
							{{product.original_name}}
						</span>
					</div>
					<div class="piw_mainInfo-vals-i">
						<span id="piw_ordiginal_chod" editable-text="product.chod_display" onaftersave="updateProductInfo()">
							{{product.chod_display}}
						</span>
					</div>
					
				</div>
			</div>
			<div class="piw_mainInfo-line">
				<div class="piw_mainInfo-labels">
					<div class="piw_mainInfo-labels-i piw_mainInfo-labelss-i__border">Назв. для каталога</div>
					<div class="piw_mainInfo-labels-i">ЧОД для каталога</div>
				</div>
				<div class="piw_mainInfo-vals">
					<div class="piw_mainInfo-vals-i piw_mainInfo-vals-i__border">
						<span  id="piw_original_name" editable-text="product.catalog_name" onaftersave="updateProductInfo()">
							{{product.catalog_name}}
						</span>
					</div>
					<div class="piw_mainInfo-vals-i">
						<span id="piw_ordiginal_chod" editable-text="product.catalog_chod" onaftersave="updateProductInfo()">
							{{product.catalog_chod}}
						</span>
					</div>
					
				</div>
			</div>
			<div class="piw_mainInfo-line">
				<div class="piw_mainInfo-label">Код товара</div>
				<div class="piw_mainInfo-val">
					<span id="piw_productCode" editable-text="product.product_num" onaftersave="updateProductInfo()">
						{{product.product_num}}
					</span>
				</div>
				
			</div>
			<div class="piw_mainInfo-line">
				<div class="piw_mainInfo-label">Прайс ЧТЗ</div>
				<div class="piw_mainInfo-val">
					<span id="piw_productPriceChtz" editable-text="product.price_chtz" onaftersave="updateProductInfo()">
						{{product.price_chtz.toFixed(2)}} р.
					</span>
				</div>				
			</div>
			<div class="piw_mainInfo-line">
				<div class="piw_mainInfo-label">Вес</div>
				<div class="piw_mainInfo-val">
					<span id="piw_weight" editable-text="product.weight" onaftersave="updateProductInfo()">
						{{product.weight.toFixed(3)}} кг
					</span>
				</div>
				
			</div>
			<!--
			<table class="table table-striped table-condensed">
				<tr>
					<td class="col-xs-2">Оригинальное название</td>
					<td class="col-xs-8">
						<span id="piw_original_name" editable-text="product.original_name" onaftersave="updateProductInfo()">
							{{product.original_name}}
						</span>
						
					</td>
				</tr>
				<tr>
					<td class="col-xs-2">Оригинальный ЧОД</td>
					<td class="col-xs-8">
						<span id="piw_ordiginal_chod" editable-text="product.chod_display" onaftersave="updateProductInfo()">
							{{product.chod_display}}
						</span>
					</td>
				</tr>
				<tr>
					<td class="col-xs-2">Код товара</td>
					<td class="col-xs-8">
						<span id="piw_productCode" editable-text="product.product_num" onaftersave="updateProductInfo()">
							{{product.product_num}}
						</span>
					</td>
				</tr>
				<tr>
					<td class="col-xs-2">Прайс ЧТЗ</td>
					<td class="col-xs-8">
						<span id="piw_productPriceChtz" editable-text="product.price_chtz" onaftersave="updateProductInfo()">
							{{product.price_chtz.toFixed(2)}} р.
						</span>
						
					</td>
				</tr>
				<tr>
					<td class="col-xs-2">Вес</td>
					<td class="col-xs-8">
						<span id="piw_weight" editable-text="product.weight" onaftersave="updateProductInfo()">
							{{product.weight.toFixed(3)}} кг
						</span>
					</td>
				</tr>						
			</table>
			-->
			<div class="piw_sizeWrap">
				<span class="piw_sizeLabel">Длина: </span>
				<span editable-text="product.sizeL" onaftersave="updateProductSize()">{{product.sizeL}}</span>
				<span class="piw_sizeSuf"> см.</span>
				<span class="piw_sizeLabel">Ширина: </span>
				<span editable-text="product.sizeW" onaftersave="updateProductSize()">{{product.sizeW}}</span>
				<span class="piw_sizeSuf"> см.</span>
				<span class="piw_sizeLabel">Выстоа: </span>
				<span editable-text="product.sizeH" onaftersave="updateProductSize()">{{product.sizeH}}</span>
				<span class="piw_sizeSuf"> см.</span>
			</div>
		</div>
		<div class="piw_productInfo-clm2">
			

			<table class="piw_stock-table">
				<thead class="piw_stock-head">
					<tr class="piw_stock-head-tr"> 
						<td class="piw_stock-head-td">Остатки</td>
						<td class="piw_stock-head-td">Основной</td>
						<td class="piw_stock-head-td">Покупка</td>
						<td class="piw_stock-head-td">Четра</td>
					</tr>
				</thead>
				<tbody class="piw_stock-body"> 
					<tr class="piw_stock-body-tr" ng-repeat="stock in product.stocks | orderBy:'city_priority'" >
						<td class="piw_stock-body-td">
							<span class="piw_stock-cityname" ng-click="stockEdit.show(stock)">{{stock.stockcity_name}}</span>
							<span class="piw_stock-date"> {{stock.dateDisplay}}</span>
						</td>
						<td class="piw_stock-body-td">
							<span ng-show="stock.val1!=null && stock.val1!=0">{{stock.val1}} шт. </span>
							<span ng-show="stock.price1!=null && stock.price1!=0"> ({{stock.price1}} р.)</span>
						</td>
						<td class="piw_stock-body-td">
							<span ng-show="stock.val2!=null && stock.val2!=0">{{stock.val2}} шт. </span>
							<span ng-show="stock.price2!=null && stock.price2!=0"> ({{stock.price2}} р.)</span>
						</td>
						<td class="piw_stock-body-td">
							<span ng-show="stock.val3!=null && stock.val3!=0">{{stock.val3}} шт. </span>
							<span ng-show="stock.price3!=null && stock.price3!=0"> ({{stock.price3}} р.)</span>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div> 

	<div class="piw_photocomment">
		<div class="piw_photo">
			<img class="piw_photo-img" ng-show="product.img!=null" ng-src="{{product.img}}">
			<div class="piw_photo-upload" ngf-select="uploadImg($file)" ng-class="{'piw_photo-upload__visible':product.img==null}">Загрузить фото</div>
			<div class="piw_photo-delete" ng-show="product.img!=null" ng-click="deleteImg()">
				<img class="piw_photo-delete-img" src="/images/delete.png">
			</div>
		</div>
		<div class="piw_comment-wrap">
			<textarea id="piw_comment-text" class="form-control piw_comment-text" ng-model="product.comment" ng-change="commentChanged()">{{product.comment}}</textarea>
			<button class="btn btn-default piw_comment-save" ng-disabled="saveCommentBtnDisable" ng-click="saveComment()">Сохранить комментарий</button>
		</div>
	</div>

	

	<div class="piw_provider-wrap"> 
		<div class="panel panel-default">
				<table class="table table-stripe piw_providerTableHead">
							<thead>
								 <tr>
										<th class="col-xs-1">Поставщик</th>
										<th class="col-xs-2">ЧОД / Название</th>
										<th class="col-xs-1">Цена пр..</th>
										<th class="col-xs-1">Цена вх.</th>
										<th class="col-xs-1">Дата прайса</th>
										<th class="col-xs-1">Срок доставки</th>
										<th class="col-xs-1">По-умолчанию</th>
										<th class="col-xs-1"></th>
								 </tr>
							</thead>
				</table>
				<div class="piw_providerTableContent">
					 <table class="table table-striped ">
							<tbody>
								<tr ng-repeat="provProd in product.provProds"
									ng-class="{'piw_provProd_notInPrice':provProd.notInPrice==1}"
								>
										<td class="col-xs-1" >
											<span ng-class="{'piw_provProd__original':provProd.required}">{{provProd.provider_name}}</span>
											<div class="piw_provProd_notLabel" ng-show="provProd.notInPrice==1">(нет в прайсе)</div>
										</td>
										<td class="col-xs-2" >
											<div>{{provProd.provName}}</div>
											<div>{{provProd.provChod}}</div>
										</td>
										<td class="col-xs-1" >
											<span editable-text="provProd.price_orig" onaftersave="updateProvProd(provProd)">{{provProd.price_orig}}</span>
										</td>
										<td class="col-xs-1" >
											<span editable-text="provProd.price_in" onaftersave="updateProvProd(provProd)">{{provProd.price_in}}</span>
										</td>
										<td class="col-xs-1" >
											<span editable-text="provProd.price_date" onaftersave="updateProvProd(provProd)">{{provProd.price_date}}</span>
										</td>
										<td class="col-xs-1" >
											<span editable-text="provProd.delivery_time" onaftersave="updateProvProd(provProd)">{{provProd.delivery_time}}</span>
											<span class="piw_provProdHaveComment" ng-show="provProd.delivery_comment!=null" ng-click="deliveryComment.show(provProd,$event)">
												<img class="piw_provProdHaveComment-img" src="/images/attention.png">
											</span>
											<span class="piw_provProdAddComment" ng-show="provProd.delivery_comment==null" ng-click="deliveryComment.show(provProd,$event)">
												<img class="piw_provProdAddComment-img" src="/images/plus3.png">
											</span>
										</td>
										<td class="col-xs-1" >
											<input type="radio" name="piw_def-provider"  ng-model="provProd.defaultProvider" ng-change="changeDefaultProvider(provProd)"  ng-checked="provProd.defaultProvider==true">
										</td>
										<td class="col-xs-1" >
											<img class="piw_deleteSinonim" ng-click="deleteProvProd(provProd)" ng-show="!provProd.required" src="/images/delete.png" >
										</td>
								</tr>
							</tbody>
					 </table>
				</div>
		</div>
		<div>
				 
				<select class="form-control piw_allproviders" ng-model="newProvider.id">
					    <option ng-repeat="provider in providers" ng-selected="provider.id==1"   value="{{provider.id}}">
					      {{provider.name}}
					    </option>
				</select>

				<input type="text" class="form-control piw_newProvider-price" ng-model="newProvider.price_orig" placeholder="Цена пр.">
				<input type="text" class="form-control piw_newProvider-price" ng-model="newProvider.price_in" placeholder="Цена вх.">
				
				<input type="text" class="form-control  piw_newProvider-name" ng-model="newProvider.provName" placeholder="Назвние">
				<input type="text" class="form-control  piw_newProvider-chod" ng-model="newProvider.provChod" placeholder="ЧОД">

				<input type="text" class="form-control  piw_newProvider-deliveryTime" ng-model="newProvider.delivery_time" placeholder="Срок доставки">
				
				<button type="submit" class="btn btn-success" id="searchBtn" ng-click="addProvider()"><img src="/images/plus2.png"></button>
		 </div>
	</div>

	<div class="piw_sinonim-wrap">			 
		<div class="panel panel-default">
			<table class="table piw_sinonimTableHead">
				<thead>
				<tr>
					<th class="col-xs-6">Синоним</th>
					<th class="col-xs-5">ЧОД</th>
					<th class="col-xs-1"></th>
				</tr>
				</thead>
			</table>
			<div class="piw_sinonimTableContent">
				<table class="table table-striped ">
					<tbody>
					<tr ng-repeat="inputRequest in product.inputRequests" ng-show="inputRequest.original_item==0 && inputRequest.provider_id==null">
						<td class="col-xs-6" >
							<span editable-text="inputRequest.name" onaftersave="updateInputRequest(inputRequest)">{{inputRequest.name}}</span>
						</td>
						<td class="col-xs-5" >
							<span editable-text="inputRequest.chod_display" onaftersave="updateInputRequest(inputRequest)">{{inputRequest.chod_display}}</span>
						</td>
						<td class="col-xs-1" >
							<img class="piw_deleteSinonim" ng-click="deleteInputRequest(inputRequest)" src="/images/delete.png" >
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		 </div>
		 <div class="form-inline piw_sinonimTableAdd">
				<div class="form-group" >
				
					 <input type="text" class="form-control" ng-model="newInputName" placeholder="Наименование">
				</div>
				<div class="form-group">
				 
					 <input type="text" class="form-control" ng-model="newInputChod" placeholder="ЧОД">
				</div>
				<button type="submit" class="btn btn-success" id="searchBtn" ng-click="addInputRequset()">Добавить синоним</button>
		 		<button class="piw_copy-btn" ng-click="allProductsSearch.show()" ng-class="{'piw_copy-btn__active':allProductsSearch.visible}"><img class="piw_copy-btn-img" src="/images/copy.png" ></button>
		 		<button class="piw_hide-btn" ng-click="hideProduct()" ng-class="{'piw_hide-btn__active':product.hidden==1}"><img class="piw_hide-btn-img" src="/images/hidden5.png"></button>
		 </div>
	</div>	 

	<div class="piw_allproducts-search-wrap" ng-show="allProductsSearch.visible">

		<div class="row piw_allproducts-search" >
			<!-- <div class="col-xs-3">
				<label class="control-label">Наименование:</label>
				<input type="text" class="form-control input-sm" ng-model="allProductsSearch.filter.name" />
			</div>
			<div class="col-xs-3">
				<label class="control-label">ЧОД:</label>
				<input type="text" class="form-control input-sm" ng-model="allProductsSearch.filter.chod" />
			</div> -->
			<div class="col-xs-5">
				<label class="piw_allproducts-searchLabel">Наименование:</label>
				<input type="text" class="piw_allproducts-searchInp" ng-model="allProductsSearch.filter.name" />
				<img class="piw_allproducts-searchClear" src="/images/close-gray.png" ng-click="allProductsSearch.clearFilter('name')">			
			</div>
			<div class="col-xs-5">
				<label class="piw_allproducts-searchLabel">ЧОД:</label>
				<input type="text" class="piw_allproducts-searchInp" ng-model="allProductsSearch.filter.chod" />
				<img class="piw_allproducts-searchClear" src="/images/close-gray.png" ng-click="allProductsSearch.clearFilter('chod')">	
			</div>
		</div>

		
		
		<div tasty-table  bind-resource-callback="allProductsSearch.getResource" bind-init="allProductsSearch.initTasty" bind-filters="allProductsSearch.filter" >
				<table class="table table-striped table-condensed allproducts-table">
					<thead tasty-thead></thead>
					<tbody>
						<tr ng-repeat="row in rows" >
							<td >
								{{ row.product.original_name }}
								
							</td>
							<td >
								{{ row.product.chod_display }}
							</td>
							<td >
								{{ row.product.product_num }}
							</td>
							<td>
								<span class="piw_allproducts-search-select" ng-click="allProductsSearch.selectProductToCopy(row.product)">Скопировать в этот</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div tasty-pagination bind-items-per-page="allProductsSearch.itemsPerPage" bind-list-items-per-page="allProductsSearch.listItemsPerPage"></div>
		</div>
		
		

	<!-- <div class="bg-productInfoWindow" ng-show="windowshow" ng-click="closeProductsInfoWin()"></div> -->		
	</div> 

	<div class="piw_deliveryComment" id="piw_deliveryComment" ng-show="deliveryComment.visible">
		<img class="piw_deliveryComment_close" ng-click="deliveryComment.close()" src="/images/close.png">
		<div class="piw_deliveryComment_title">Комментарии к сроку поставки</div>
		<textarea class="piw_deliveryComment-text" ng-model="deliveryComment.provProd.delivery_comment"></textarea>			
		<button class="btn btn-success" ng-click="deliveryComment.save()">Сохранить</button>
		<button class="btn btn-warning" ng-click="deliveryComment.delete()">Удалить</button>
	</div>

	<div class="piw_stockEdit" ng-show="stockEdit.visible">
		<!-- <img class="piw_stockEdit-close" ng-click="stockEdit.close()" src="/images/close.png"> -->
		<div class="piw_stockEdit-city">{{stockEdit.stock.stockcity_name}}</div>
		<div class="piw_stockEdit-line">
			<div class="piw_stockEdit-label">Привязка к файлу остатков:</div>
			<input type="text" class="form-control piw_stockEdit-inp" ng-model="stockEdit.stock.chodname">
		</div>
		<div class="piw_stockEdit-btns">
			<button class="btn btn-success" ng-click="stockEdit.save()">Сохранить</button> 	
			<button class="btn btn-default" ng-click="stockEdit.close()">Отмена</button>
			<button class="btn btn-danger piw_stockEdit-deleteBtn"  ng-click="stockEdit.delete()">Удалить связь</button> 	
		</div>
	</div>

	<script type="text/ng-template" id="confirmTemplate.html">
	    <p>{{showConfirmMessage}}</p>
		<input type="button" value="Да" class="btn btn-info" ng-click="confirm()"/>
		<input type="button" value="Отмена" class="btn btn-default" ng-click="closeThisDialog(0)"/>
	</script
</div>