.pagination {
  font-size: 0;
  
}

.pagination > li:first-child  > a {
    border: none;
}

.pagination > li:last-child  > a {
    border: none;
    border-left: 1px solid #ddd;
}

.pagination > li:last-child > a:hover, .pagination > li:first-child > a:hover {
  background-color: transparent;
}

.pagination_item {
  display: inline-block;
  vertical-align: top;

}

.pagination_item__hide {
  display: none;
}

.pagination_item__active {
  background-color: #17a828;
}

.pagination_item-a {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color:#444;
  line-height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.pagination_item-a:hover {
  color:#888;
}

.pagination_item__active .pagination_item-a {
  color: #fff;
  background-color: #31B1F6;  
  cursor: default;
}

.pagination_item-out {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  visibility: visible;
  opacity: 1;
  transition:opacity 0.9s linear;
}

.pagination_item-out__hide {
  opacity: 0.1;
  transition: none;
}

.pagination_item-out-a {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color:#888;
  line-height: 40px;
  cursor: pointer;
}
