<div class="requisitionsList">
	<div class="requisitionsList_head">
		<div class="requisitionsList_head-title" ng-bind="::vm.title"></div>
		<div class="requisitionsList_head-count" >(<span ng-bind="::vm.totalItems"></span>)</div>
	</div>
	<div class="requisitionsList_body">
		<pager class="" total-items="vm.totalItems" change-page="vm.changePage(count,offset)" page-size="20"></pager>
		<table class="requisitionsList_table">
	  	<thead class="requisitionsList_table-head">
			<tr class="requisitionsList_table-tr requisitionsList_table-tr_head">
				<th class="requisitionsList_table-th requisitionsList_table-th_num">№</th>
				<th class="requisitionsList_table-th">Создано</th>
				<th class="requisitionsList_table-th">Заказчик</th>
				<th class="requisitionsList_table-th">Кол-во товаров</th>
				<th class="requisitionsList_table-th"></th>
				<th class="requisitionsList_table-th"></th>
			</tr>
		</thead>
		<tbody class="requisitionsList_table-body">
			<tr ng-repeat="requisition in vm.requisitions" class="requisitionsList_table-tr">
				<td class="requisitionsList_table-td">
					<div class="requisitionsList_table-num" ng-bind="requisition.num" ng-class="{'requisitionsList_table-num_new':requisition.new==1}"></div>
				</td>
				<td class="requisitionsList_table-td">
					<div class="requisitionsList_table-created" ng-bind="requisition.created"></div>					
				</td>
				<td class="requisitionsList_table-td">
					<span ng-bind="requisition.customerName"></span>
				</td>
				<td class="requisitionsList_table-td">
					<span ng-bind="requisition.productsCount"></span>
				</td>
				<td class="requisitionsList_table-td">
					<a href="{{requisition.url}}">просмотр</a>
				</td>
				<td class="requisitionsList_table-td">
					<div class="requisitionsList_table-delete" ng-click="vm.deleteRequisition(requisition.id)"></div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>