<div class="customeredit-bg" ng-show="customerEdit.visible" ng-click="customerEdit.close()"></div>
<div class="customeredit" ng-show="customerEdit.visible" ng-style="customerEdit.popupStyle">
	<img class="customeredit_close" src="/images/close-thin.png" ng-click="customerEdit.close()">
	<div class="customeredit_head">
		<div class="customeredit_title">Досье контрагента</div> 
		<div class="customeredit_status">
			<div class="customeredit_status-label">статус</div>
			<select class="customeredit_status-val" ng-model="customerEdit.tmpCustomer.status_id">
				<option value="">не задан</option>
				<option ng-repeat="status in statuses" value="{{status.id}}">{{status.name}}</option>
			</select>
		</div>
	</div>
	<div class="form-horizontal">
		<div class="form-group">
		    <label for="customer-name" class="col-xs-2 control-label">Название</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-nae" ng-model="customerEdit.tmpCustomer.name" placeholder="Название">
			</div>
			<!-- <div class="col-xs-2">
				<div class="btn btn-default" ng-click="customer.clear()">Очистить</div>
			</div> -->
		</div>

		<div class="form-group">
			<label for="customer-full-name" class="col-xs-2 control-label">Полное назание</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-full-name"  ng-model="customerEdit.tmpCustomer.full_name" placeholder="Полное назание">
			</div>

			
		</div>

		<div class="form-group">
			<label for="customer-contact-person" class="col-xs-2 control-label">Контактное лицо</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-contact-person" ng-model="customerEdit.tmpCustomer.contact_person" placeholder="Контактное лицо">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-phone" class="col-xs-2 control-label">Телефон</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-phone" ng-model="customerEdit.tmpCustomer.phone" placeholder="Телефон">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-email" class="col-xs-2 control-label">E-mail</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-email" ng-model="customerEdit.tmpCustomer.email" placeholder="E-mail">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-address" class="col-xs-2 control-label">Адрес</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-address" ng-model="customerEdit.tmpCustomer.address" placeholder="Адрес">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-legal-address" class="col-xs-2 control-label">Юридический адрес</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-legal-address" ng-model="customerEdit.tmpCustomer.legal_address" placeholder="Юридический адрес">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-mail-address" class="col-xs-2 control-label">Почтовый адрес</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-mail-address" ng-model="customerEdit.tmpCustomer.mail_address" placeholder="Почтовый адрес">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-bank-name" class="col-xs-2 control-label">Название банка</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-bank-name" ng-model="customerEdit.tmpCustomer.bank_name" placeholder="Название банка">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-payment-number" class="col-xs-2 control-label">Номер счета</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-payment-number" ng-model="customerEdit.tmpCustomer.payment_number" placeholder="Номер счета">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-bik" class="col-xs-2 control-label">БИК</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-bik" ng-model="customerEdit.tmpCustomer.bik" placeholder="БИК">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-corr-number" class="col-xs-2 control-label">Корреспондентский счет</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-corr-number" ng-model="customerEdit.tmpCustomer.corr_number" placeholder="Корреспондентский счет">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-bank-inn" class="col-xs-2 control-label">ИНН Банка</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-bank-inn" ng-model="customerEdit.tmpCustomer.bank_inn" placeholder="ИНН Банка">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-director-name" class="col-xs-2 control-label">Руководитель компании</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-director-name" ng-model="customerEdit.tmpCustomer.director_name" placeholder="Руководитель компании">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-director-job" class="col-xs-2 control-label">Должность руководителя</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-director-job" ng-model="customerEdit.tmpCustomer.director_job" placeholder="Должность руководителя">
			</div>
		</div>

		<div class="form-group">
			<label for="customer-confirm-doc" class="col-xs-2 control-label">Подтверждающий документ</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="customer-confirm-doc" ng-model="customerEdit.tmpCustomer.confirm_doc" placeholder="На основании чего действует">
			</div>
		</div>
	</div>
	<div class="customeredit_btns">
		<button class="btn btn-success customeredit_saveBtn" ng-click="customerEdit.save()">Сохранить</button>
		<button class="btn btn-default" ng-click="customerEdit.close()">Отмена</button>
	</div>	
</div>
