<div class="l-wrap">
	<div class="row">
		<div class="col-xs-5">
			<label class="liveSearch_searchLabel">Наименование:</label>
			<input type="text" class="liveSearch_searchInp" ng-model="liveSearch.filter.name" />
			<img class="liveSearch_searchClear" src="/images/close-gray.png" ng-click="liveSearch.clearFilter('name')">			
		</div>
		<div class="col-xs-5">
			<label class="liveSearch_searchLabel liveSearch_searchLabel__chod">ЧОД:</label>
			<img class="liveSearch_searchClear" src="/images/close-gray.png" ng-click="liveSearch.clearFilter('chod')">	
			<input type="text" class="liveSearch_searchInp" ng-model="liveSearch.filter.chod" />
		</div>
	</div>
	<div class="row l-table-wr">
		<div class="col-xs-12" tasty-table  bind-resource-callback="liveSearch.getResource" bind-init="liveSearch.initTasty" bind-filters="liveSearch.filter" >
			<table class="table table-striped table-condensed liveSearch_table">
				<thead class="liveSearch_tableHead">
					<tr>
						<td class="cols-xs-1"></td>
						<td class="col-xs-5">Наименование</td>
						<td class="col-xs-5">ЧОД</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in rows">
						<td class="cols-xs-1">
							<img class="showProductInfoWin" src="/images/list.png" ng-click="showProductsInfoWin(row.product)">
							<span class="selectProductForPostion"  ng-click="selectProduct(row.product)">выбрать</span>
						</td>
						<td class="col-xs-5">
							{{ row.product.original_name }}
							<coincident-input-requsets items="row.product.inputRequests" field="name" value="liveSearch.filter.name" />
						</td>
						<td class="col-xs-5">
							{{ row.product.chod_display }}
							<coincident-input-requsets items="row.product.inputRequests" field="chod" value="liveSearch.filter.chod" />
						</td>

						
						
					</tr>
				</tbody>
			</table>
			<div tasty-pagination></div>
		</div>
	</div>
</div>
